cleanup = true

//sc-STITCHIT parameters

//workDir = '/projects/triangulate/work/sc_STITCHIT/work'
env.stitchDir = "${HOME}/STITCHIT/build/core/STITCH"
env.bamMergeDir = "${HOME}/bam_merge-master/build/core/bam_merge" 

//MetaCellaR parameters

env.metacellarFolder = "${projectDir}/MetaCellaR"

//input pipeline = input MetaCellaR
params.singlecells = "${projectDir}/data/sc_rna_atac_integration_10000_10000_100000.rds"

params.rna = 'assays$RNA@data'
params.atac = 'assays$peaks@counts'
params.ctype = 'meta.data$cell.types'
params.clusters = null
params.mout = 'sim_10k10k100k_90_t8' 
params.assay = 'meta.data$identity'
params.umapflag = 'T'
params.mccells = 90
params.treshold = null
params.umapdims = 20 // (Default)
params.reductions = 'umap'

// Discretization parameters

env.discretizationFolder = "${projectDir}/Discretization/sim_10k10k100k_90_t8"

params.vector = null 
params.normalize = true 
params.genome = 'h'
params.plot = false 
params.binary = true 
params.dout = 'dge.txt' 
params.tpmout = 'tpm.txt' 
params.glout = 'gene_lengths.txt' 

// Bam_Merge parameters

env.bam_mergeFolder = "${projectDir}/bam_merge-master"
//Flag options: -X (10x), -D (non 10x ATAC)
//Start position of cell barcode in read name for non-10x data required
params.bamfile = "${projectDir}/data/ATAC_merged_subsamples_10000_10000.bam"
params.bamflag = '-X'
params.pos = null
params.outdir = 'sim_10k90t8'

//TODO: Complete parameters -> Default values
//DeepTools parameters

env.bamcoverageFolder = "${projectDir}/bamcoverage/sim_10k90t8"
params.norm = 'RPKM'
params.binsize = 50 //Default 50

//STITCHIT segmentation parameters

//same path as bamcoverageFolder!
params.bw = "${projectDir}/bamcoverage/sim_10k90t8" 
params.gtf = "${projectDir}/gencode.v19.annotation.chr.gtf" 
params.chromsizes = "${projectDir}/hg19_chrom_sizes_chr.txt"
params.window = 5000
params.cores = 27
params.pvalue = 0.05
params.resolution = 10
params.stitchitout = 'segmentation_10k10k100k_90_t8'
params.searchspace = 1100000 //(Default)
params.segmentsize = 2000

//nested STITCHIT
params.folds = 10

//STITCHIT regression parameters
params.response="Expression"    //Name of the response variable
params.fixedAlpha = null        //Use a fixed value for the alpha parameter in elastic net regulatisation, do not perform a grid search
params.alpha = 0.05             //Stepsize to optimise the alpha parameter in elastic net regularisation (default 0.05)
params.testsize = 0.2           //Size of test data[%] (default 0.2)
params.regularization = 'E'     //regularisation L for Lasso, R for Ridge, and E for Elastic net (default E)
params.innerCV = 6              //Number of folds for inner cross-validation (default 6)
params.outerCV = 3              //Number of iterations of outer cross-validation to determine test error (default 3)
params.constraint = 'P'         //Specifies a constraint on the coefficent sign, enter N for negative and P for positive constraint
params.performance = 'TRUE'     //Flag indiciating whether the performance of the model should be assessed (default TRUE)
params.seed = null              //Random seed used for random number generation (default random)
params.leaveOneOutCV = 'FALSE'  //Flag indicating whether a leave one out cross-validation should be used (default FALSE)
params.asRData = 'FALSE'        //Store feature coefficients as RData files (default FALSE)
params.randomise = 'FALSE'      //Randomise the feature matrix (default FALSE)
params.logResponse = 'TRUE'     //Flag indicating whether the response variable should be log transformed (default TRUE)
params.ftest = 'FALSE'          //Flag indicating whether partial F-test should be computed to assess the significance of each feature (default FALSE)
params.coefP = 1                //p-value threshold for model coefficient (default 1, all OLS coefs will be returned)

env.StitchItFolder = "${projectDir}/STITCHIT/${params.stitchitout}"
env.RegressionFolder = "${projectDir}/STITCHIT/regression_10k10k100k_90_t8"

// Flag STITCHIT: nested or normal version:
env.mode = 'normal' //Default: 'normal', Options: ['normal', 'nested']



process {
    withName: stitch_it {
        cpus = 5
    }
}
